barcamp-docs {
  display: block;
}

barcamp-docs h1 {
  font-family: var(--parco);
  font-weight: 600;
}

barcamp-docs h2 {
  font-family: var(--parco);
  font-weight: 200;
  font-size: 2rem;
  margin-top: 1.25em !important;
  font-style: italic;
}

.dark-mode barcamp-docs h1,
.dark-mode barcamp-docs h2,
.dark-mode barcamp-docs h3,
.dark-mode barcamp-docs h4,
.dark-mode barcamp-docs h5,
.dark-mode barcamp-docs h6,
.dark-mode barcamp-docs ul,
.dark-mode barcamp-docs ol {
  color: white;
}
