@import "../node_modules/@stellar-design/core/dist/stellar-core/stellar-core.css";
@import "./assets/fonts/work/work.css";
@import "./assets/fonts/parco/parco.css";

:root {
    --inter: "Work Sans", sans-serif;
    --font-body: var(--inter);
    --font-heading: var(--inter);
    --font-system: var(--inter);
}

:root{--ms-base:12px;--ms-ratio: var(--minor-second);}
@media (min-width:550px){:root{--ms-base:13px}}
@media (min-width:700px){:root{--ms-base:14px}}
@media (min-width:800px){:root{--ms-base:15px;--ms-ratio: 1.15;}}
@media (min-width:900px){:root{--ms-base:16px}}
@media (min-width:1000px){:root{--ms-base:17px}}
@media (min-width:1200px){:root{--ms-base:18px}}

html, body {
    font-family: var(--inter);
    min-width: 320px;
    line-height: 1.4;
}

a {
    color: var(--theme-base5);
}

article {
    min-height: calc(100vh - 10rem);
}

h1, h2, h3, h4, h5, h6, p {
    max-width: 36em;
}

p {
    line-height: 1.4;
}

stellar-input {
    --line-height: 3.5rem;
}

h1.parco, h2.parco, h3.parco, h4.parco, h5.parco, h6.parco {
    font-family: var(--parco);
    font-weight: 500;
}

h1.parco.alt, h2.parco.alt, h3.parco.alt, h4.parco.alt, h5.parco.alt, h6.parco.alt {
    font-family: var(--parco);
    font-weight: 200;
    font-style: italic;
}

html.dark-mode {
    background: var(--black)
}

.hero {
    background-image: url("/assets/images/waves-light.png");
    background-size: 150%;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: screen;
    background-color: var(--theme-base3);
}

.dark-mode .hero, .hero.dark-mode {
    background-image: url("/assets/images/waves.png");
    background-blend-mode: exclusion;
    background-color: var(--theme-base9);
}

@media (max-width: 800px) {
    .hero {
        background-size: 100vh;
    }

    stellar-layout[padding="large"]:not(.hero) {
        --padding: 2rem !important;
    }
}

stellar-button:not([ghost]) {
    --corners: 0.5rem;
    backdrop-filter: blur(5px);
    -webkit-clip-path: polygon(var(--corners) 0, calc(100% - var(--corners)) 0,100% var(--corners),100% calc(100% - var(--corners)),calc(100% - var(--corners)) 100%,var(--corners) 100%,0 calc(100% - var(--corners)),0 var(--corners));
    clip-path: polygon(var(--corners) 0, calc(100% - var(--corners)) 0,100% var(--corners),100% calc(100% - var(--corners)),calc(100% - var(--corners)) 100%,var(--corners) 100%,0 calc(100% - var(--corners)),0 var(--corners));
}

stellar-button.secondary {
    --background: transparent;
    --color: var(--theme-base5);
}

.dark-mode stellar-button.secondary {
    --background: transparent;
    --color: var(--theme-base0);
}

app-header,
app-footer {
    display: flex;
    align-items: flex-end;
    position: relative;
    z-index: 2;
}

app-footer {
    align-items: flex-start;
}

app-header > div.flex,
app-footer > div.flex {
    justify-content: space-between;
}

@media (max-width: 700px) {

    app-header {
        height: auto;
        padding: 1rem 0;
    }

    app-footer {
        height: auto;
        padding: 2rem 0;
    }

    app-footer > div.flex {
        display: grid;
        justify-content: space-evenly;
        grid-gap: 1rem;
        grid-template-columns: 1fr;
        text-align: center;
    }
}

.grayscale {
    filter: grayscale(1);
}

.noclick {
    pointer-events: none;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(var(--distance));
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(var(--distance));
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(var(--distance));
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        transform: translateX(var(--distance));
    }

    100% {
        opacity: 1;
    }
}
